body {
    font-family: Arial, sans-serif;
    background-color: #4b28cc;
}
.container {
    width: 400px;
    margin: auto;
    padding: 20px;
    background: rgb(15, 143, 143);
    border-radius: 8px;
    margin-top: 50px;
}
ul {
    list-style: none;
    padding: 0;
}
li {
    padding: 8px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #3b040d;
}
.done {
    text-decoration: line-through;
    color: gray;
}
